:root {
    --sans: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
        sans-serif, sans;
    --off-white: #eee;
    --off-black: #222;
}

* {
    margin: 0;
    padding: 0;
    border: 0;

    font-size: 1rem;
    color: var(--off-white);
}

html {
    font-family: var(--sans);
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--sans);
    width: 100%;
    height: 100%;

    background-color: var(--off-black);
    font-family: var(--sans);
}

a {
    color: var(--off-white);
}

a:hover {
    color: #deacff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    font-weight: bold;
}

h1 {
    font-size: 1.75rem;
}

h1::before {
    content: "# ";
}

h2 {
    font-size: 1.5rem;
}

h2::before {
    content: "## ";
}

h3,
h4,
h5,
h6 {
    font-size: 1.25rem;
}

h3::before {
    content: "### ";
}

h4::before {
    content: "#### ";
}

h5::before {
    content: "##### ";
}

h6::before {
    content: "###### ";
}

ul,
ol {
    list-style-position: outside;
}

ul {
    list-style-type: square;
}

code {
    font-family: monospace;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    border-radius: 0.25rem;

    font-size: 85%;

    color: #fff;
    background-color: #55555580;
}

pre > code {
    font-family: monospace;
    padding: 0;
    border-radius: 0;

    background-color: none;
}

pre {
    font-family: monospace;
    padding: 1rem;
    border: 1px solid #ffffff40;
    border-radius: 0.25rem;

    line-height: 1.45;
    font-size: 85%;
    overflow: auto;

    color: #fff;
    background-color: #55555550;
}

table {
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

td,
th {
    padding: 1rem;
    border: 0.125rem solid transparent;
}

address {
    padding-left: 2rem;

    font-style: normal;
}

figcaption {
    text-align: center;
}

.centering {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

#main-nav {
    width: 100%;
    padding: 1rem 0 1rem 0;
}

#main-nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    list-style: none;
    text-align: center;
}

@media (max-width: 40rem) {
    #main-nav-list {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.main-nav-elem {
    margin: 0.5rem 0.75rem 0.5rem 0.75rem;
    padding: 0.5rem;

    font-size: 1.5rem;
    text-align: center;
    color: var(--off-white);

    text-decoration: none;
    border-color: var(--off-white);
    border-width: 0.125rem;
    border-bottom-style: none;
}

.main-nav-elem:hover {
    color: var(--off-white);

    border-bottom-style: solid;
}

@media (max-width: 40rem) {
    .main-nav-elem:hover {
        text-decoration: underline;
        border-bottom-style: none;
    }
}

#curr-nav-elem {
    border-bottom-style: solid;
}

@media (max-width: 40rem) {
    #curr-nav-elem {
        text-decoration: underline;
        border-bottom-style: none;
    }
}

#social-media-nav {
    display: block;
    position: fixed;
    float: right;
    right: 1rem;
    top: 0;

    width: 4rem;
}

@media (max-width: 60rem) {
    #social-media-nav {
        position: static;
        float: none;
        right: auto;
        top: auto;

        width: auto;
    }
}

#social-media-nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: 100%;

    list-style: none;
}

@media (max-width: 60rem) {
    #social-media-nav-list {
        flex-direction: row;
        justify-content: center;
    }
}

#social-media-nav-list > li {
    padding: 0.5rem 0 0.5rem 0;

    width: 100%;
    height: 100%;
}

.social-media-logo {
    width: 4rem;

    filter: none;
}

.social-media-logo:hover {
    filter: drop-shadow(0 0 0.5rem #eeeeee80);
}

#main-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    margin: 0 6rem 0 2rem;
}

@media (max-width: 45rem) {
    #main-content {
        display: block;
        width: calc(100% - 2rem);

        margin: 0;
        padding: 0 1rem 0 1rem;
    }
}

#main-content-inner {
    max-width: 64rem;
}

.h-anchor {
    color: var(--off-white);
    text-decoration: none;
}

.h-anchor:hover {
    color: #fff;
}

.h-anchor:hover > h1::after,
.h-anchor:hover > h2::after,
.h-anchor:hover > h3::after,
.h-anchor:hover > h4::after,
.h-anchor:hover > h5::after,
.h-anchor:hover > h6::after {
    content: " \1f517";
}

#main-content-inner > p {
    margin: 1rem 0 1rem 0;

    text-align: none;
    text-justify: auto;
}

.gags > caption {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: unset;
    white-space: nowrap;
    width: 1px;
}

.gags td,
.coloration td {
    padding: 0;
    border: 0.125rem solid #666;

    width: 100%;
    height: 100%;
}

.coloration td {
    border: 0.125rem solid transparent;
}

.gag-div {
    width: 1rem;
    height: 1rem;
}

.coloration-swatch {
    width: 2.33rem;
    height: 2.33rem;
}

.collapse-td {
    padding: 0.5rem;
    margin: 0;
}

.toonup {
    background-color: #ae50ce;
}

.trap {
    background-color: #e8e65a;
}

.lure {
    background-color: #33bd35;
}

.sound {
    background-color: #8a9ef4;
}

.throw {
    background-color: #ed9f32;
}

.squirt {
    background-color: #f55bd6;
}

.drop {
    background-color: #32eaed;
}

.org {
    outline: 0.125rem solid #fff;
}

.block-logo-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.block-logo-wrapper,
.block-logo-wrapper > a {
    height: 9rem;
    width: auto;
}

.block-logo {
    height: 100%;
    width: auto;
}

.centering-figure {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0 2.5rem 0;
}
.centering-figure > img {
    width: 100%;
    height: auto;
}
.centering-figure > figcaption {
    margin-top: 0.5rem;
}
